INSERT INTO mouvements_stock (produit_id, type_mouvement, quantite, date_mouvement) SELECT id, 'initial', stock, NOW() FROM produits WHERE stock > 0 AND id NOT IN (SELECT DISTINCT produit_id FROM mouvements_stock);
